<div class="container">
  <div class="row mt-5">
    <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
      <div class="m5 shadow bg-white rounded">
      	<div style="display:inline-flex; width:100%;">
    			<div class="p-3" style="width:50%;"><h3>Top Questions</h3></div>
      		<div class="text-right p-3" style=" width:50%;">
      			<%= link_to "Add Question", '/question/new', class:'btn btn-lg btn-primary' %>
      		</div>
      	</div>
      	<hr>
    		<% @questions.each.with_index do |quest,index| %>
  				<div class="px-5 py-3">
	    			<h4 style="color: blue;" id="<%=quest.id%>">Q<%=index+1 %>. <%= link_to quest.title, "/question/#{quest.id}", class: 'text-decoration-none'%></h4>
	    			<h5 style="padding-left:30px;"><%= quest.body %></h5>
	    		</div>
    		<% end %>
      </div>
    </div>
  </div>
</div>